{% extends 'base.html' %}

{% load static %}
{% load my_filter %}


{% block css_additional %}
    <link rel="stylesheet" href="{% static 'horoscope/css/info.css' %}">
{% endblock %}

<title>{% block title %}
    Гороскоп для {{ sing|upper }}
{% endblock %}</title>


{% block content %}
    {% include 'includes/navbar.html' %}
    <h1>{{ description_zodiac|split|first }}</h1>

{% if description_zodiac is None %}
    <h2>Неправельный знак зодиака - {{ sing|upper }}</h2>
{% else %}
    <h2>{{ description_zodiac|capfirst|safe }}</h2>
    {% endif %}

{% endblock %}